* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

#root,
.App {
  height: 100%;
}

.red {
  border: 1px solid red;
}

.blue {
  border: 1px solid blue;
}

.green {
  border: 1px solid green;
}
